<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <mat-card>
    <strong> Simple Angular Questions</strong>
  </mat-card>
  <mat-card class="color">
    <h2>Questions</h2>
    <mat-toolbar>
      <mat-toolbar-row>
        <h3>This is toolbar 1</h3>
        <mat-icon>delete_button</mat-icon>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h3>This is toolbar 2</h3>
        <mat-icon>delete_button</mat-icon>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h3>This is toolbar 3</h3>
        <mat-icon>delete_button</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>
</div>

<router-outlet></router-outlet>